div {
 font-family: Verdana;
 padding: 2px;
 margin: 2px auto;
 text-align: center;
 vertical-align: middle;
 border-radius: 5px;
}

button {
  border-radius: 5px;
  border: 1px solid rgb(230,230,230);
}

input:focus {
  background-color: rgb(255,255,210);
}

div.wiersz {
  display: block;
  width: auto;
}

div#log {
  display: inline-block;
  width: 250px;
}

div#kwerenda {
  display: inline-block;
}

div#kalendarium  {
  width: 600px;
  display: block;
}

div#edycja_dnia {
  display:block;
  border: 1px solid rgb(0,180,0);
}

.wydruk {
  border: 1px solid rgb(130,130,130);
}

.wydruk:hover {
  border: 1px solid rgb(200,0,0);
}

input.schemat {
  width: 120px;
  padding: 2px 2px;
  border: 1px solid rgb(180,180,180);
}

.zwykle {
  display:inline-block;
  width: 55px;
  border: 2px solid rgb(255,255,255);
}

.kolorowanie {
  display:inline-block;
  width: 130px;
  background-color: rgb(250,250,250);
  border: 2px solid rgb(255,255,255);
}

.kolorowanie:hover {
  border: 2px solid rgb(180,0,0);
}

.roboczy {
  display:inline-block;
  width: 55px;
  background-color: rgb(250,250,250);
  border: 2px solid rgb(255,255,255);
}

.sobota {
  display:inline-block;
  width: 55px;
  background-color: rgb(255,255,210);
  border: 2px solid rgb(255,255,255);
}

.niedziela {
  display:inline-block;
  width: 55px;
  background-color: rgb(180,180,180);
  border: 2px solid rgb(255,255,255);
}

.inny {
  display:inline-block;
  width: 55px;
  background-color: rgb(220,220,220);
  border: 2px solid rgb(255,255,255);
}
